/*Misc*/

	#body {
		font-size: 16px;
		background-color: #000000;
		letter-spacing: 0.3em;
		font-family: 'Raleway';
		font-weight: 100;
		font-style: normal;
		color: white;
		height: 100vh;
	}

	.screen-size {
		height: 100%;
		width: 100%;
	}

	*:focus {
    	outline: none;
	}

	* {
		box-sizing: border-box;
	}

/*Nav*/

	#nav {
		height: 100px;
		width: 100%;
		padding-top: 25px;
	}

	#nav-site-name {
		display: inline-block;
		float: left;
		width: 45%;
		padding-left: 25px;
		margin-top: 20px;
		color: #DCE1F2;
		font-weight: bold;
	}

	#site-logo {
		display: inline-block;
	}

	#logo {
		position: relative;
	}

	.nav-links {
		display: inline-block;
		text-align: center;
		margin-right: 25px;
		font-size: 0.750em;
		float: right;
		margin-top: 25px;
	}

	.a-links {
		text-align: center;
		text-decoration: none;
		padding: 5px;
		color: white;
	}

	.a-links:hover {
		text-align: center;
		border-bottom: 1px solid white;
		color: white;
		text-decoration: none;
	}

	#nav-links-gallery {
		width: 80px;
	}

	#nav-links-contact {
		width: 65px;
	}

	#nav-links-about {
		width: 130px;
	}

	/*Pages*/

	#welcome-section {
		overflow: hidden;
		height: 100%;
		position: relative;
	}

/*Gallery*/

	#gallery {
*/		margin: auto;
	}
	
	.filter-buttons { 
		font-size: 1em;
		border: 1px solid black;
		text-align: center;
		color: black;
		background-color: white;
		margin-bottom: 30px;
		display: inline-block;
		padding: 10px;
		letter-spacing: 0.1em;
	}
	
	.filter-buttons:hover { 
		color: white;
		border-bottom: 1px solid white;
		background-color: black;
	}

	.filter-buttons-active {
		color: white;
		border-bottom: 1px solid white;
		background-color: black;
	}

	.gallery_product {
		margin-bottom: 30px;
		display: inline-block;
		position: relative;
	}

	.img-responsive {
		text-align: center;
		transition: .3s all;
		position: relative;
	}

	.gallery_product:hover .img-responsive {
		filter: blur(2px);
	}

	.overlay-title {
		position: absolute;
		width: 100%;
		text-align: center;
		opacity: 0;	
		top: 50%;
  		transform: translateY(-50%);
	}

	.gallery_product:hover .overlay-title {
		opacity: 1;
	}

	.image-title {
		font-weight: bold;
		font-size: 2em;
		text-align: center;
		text-decoration: none;
		color: white;
	}

	.category-type {
		font-style: italic;
	}

/*Blog*/

	#blog-section {
		height: 400px;
		position: relative;
	}

	#blog-post-preview {
		position: absolute;
		float: left;
		top: 50%;
		width: 50%;
		margin-left: 25px;
	}

/*About*/

	#about {
		padding-top: 25px;
	}

	#about-section {
		height: 400px;
		position: relative;
		border: 1px solid white;
		margin-left: 25px;
		margin-right: 25px;
	}

	#blurb {
		position: absolute;
		float: left;
		top: 25%;
		width: 50%;
		margin-left: 10%;
	}

	.about-image-responsive {
		width: 100%; 
	}

	.container {
		position: absolute;
		width: 300px;
		left: 60%;
		top: 20%;
		height: 380px;
		margin-left: 3%;
	}

/*Footer*/

	.parent-center-div { /*center the parent*/
		text-align: center;
		width: 100%;
	}

	.center-div { /*then center the children with margin:auto*/
		margin: auto;
	}

	#form {
		padding: 25px;
		float: left;
	}

	#email-signup {
		width: 250px;
		padding-bottom: 25px;
	}

	.footer {
		display: inline-block;
		margin-bottom: 15px;
		text-align: center;
	}

	.a-f-links {
		text-decoration: none;
	}

	.a-f-links:hover {
		text-decoration: none;
	}

	.a-f-links:focus {
		text-decoration: none;
	}

	#love {
		font-family: 'League Script';
		letter-spacing: 0em;
		padding-top: 50px;
	}	

/*Scroll to Top Button*/

	.back-to-top {
		display: none;
		background: none;
		margin: 0;
		position: fixed;
		bottom: 0;
		right: 0;
		width: 50px;
		height: 60px;
		margin-right: 15px;
		margin-bottom: 15px;
		text-decoration: none;
		background-image: url("../images/scroll-w.png");
		background-size: 100%;
		background-repeat: no-repeat; 
		z-index: 100;
	}

	.back-to-top:hover {
		background-image: url("../images/scroll-hover.png");
		width: 50px;
		height: 60px;
	}

	.display-none {
		display: none;
	}

/*Contact*/
	
	.get-in-touch {
		width: 75%;
		height: 450px;
		border: 1px solid black;
		margin: 0 auto;
		background-color: white;
		padding-left: 25px;
	}

	.form-field {
		position: relative;
		margin-top: 32px;
	}

	#email-form {
		color: black;
	}

	.input-text { 
		display: block;
		width: 100%;
		height: 36px;
		border-width: 0 0 2px 0;
		border-color: black;
		font-size: 18px;
		line-height: 26px;
		color: black;
		padding-left: 20px;
	}

	.label {
		color: black;
		left: 20px;
		bottom: 11px;
		cursor: text;
		opacity: 0;
		font-size: .5em;
		transition: opacity .25s ease-in-out;
	}

	.label-show {
		opacity: 1;
	}

	.submit-btn {
		display: inline-block;
		background-color: black;
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 16px;
		line-height: 24px;
		padding: 8px 16px;
		border: none;
	}

	.align-center {
		margin-top: 25px;
		text-align: center;
	}

	.input-50 {
		width: 50%;
	}

	.input-100 {
		width: 90%;
	}

/*Hamburger menu*/


/*Responsive*/

@media only screen and (max-width: 830px) {
	#nav-site-name {
		display: none;
	}

	#site-logo {
		margin-left: 50px;
	}
}

/*@media only screen and (max-width: 500px) {
	#nav-site-name {
		display: none;
	}

	#site-logo {
		margin-left: 50px;
	}
}*/